.search-field {
  background-color: #f2f2f2;
  border-radius: 21px;
  width: 360px;
  height: 42px;
}

.search-field input {
  border-color: transparent;
  font-size: 14px;
}

.logo {
  height: 24px;
  width: 162px;
}

.join-btn {
  border: 0.8px solid #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
}

/* mobile screen */
@media only screen and (max-width: 360px) {
  .navbar {
    position: sticky;
    top: 0;
    z-index: 10;
    color: white;
  }
  .join-btn {
    color: white;
  }
  .navbar-toggler {
    margin-right: auto;
  }
  .toggler-icon {
    color: white;
  }
}
