.banner {
  height: 440px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.45) 0%,
      rgba(0, 0, 0, 0.6) 100%
    ),
    url("../../images/banner.png") no-repeat center;
  background-size: cover;
  position: relative;
}

.banner div {
  position: absolute;
  left: 200px;
  bottom: 80px;
}

/* mobile screen */
@media only screen and (max-width: 770px) {
  .banner {
    margin-top: -120px;
    height: 236px;
  }
  .banner div {
    left: 16px;
    bottom: 32px;
  }
  .banner h1 {
    font-size: 17px;
  }
  .banner p {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
  }
}
